---
layout: default
dieta:
  - Lunes:
    - Almuerzo: Fiambres surtidos (a su elección – carnes magras, pollo, pavita, lengua, no embutidos, leer aclaración en las preguntas y respuestas). Tomates (en rodajas). Café/té/gaseosa dietética.
    - Cena: Pescado o mariscos magros, cualquier clase. Ensalada mixta, con las verduras y hortalizas que desee. 1 rebanada de pan proteico, tostado, o de pan integral tostado. Pomelo (si no hay, use frutas de estación). Café/té.
  - Martes:
    - Almuerzo: Ensalada de frutas, cualquier combinación, tanto como desee. Café/té.
    - Cena: Hamburguesas magras a la parrilla, en buena cantidad. Tomates, lechuga, apio, aceitunas, repollitos de Bruselas o pepinos. Café/té.
  - Miércoles:
    - Almuerzo: Ensalada de atún o salmón (escurrir el aceite), con limón y vinagre. Pomelo o melón, o fruta de estación. Café/té.
    - Cena: Cordero asado (quitar toda la grasa visible). Ensalada de lechuga, tomates, pepinos, apio. Café/té. (De no ser cordero, reemplazar por cualquier otra carne que sea magra)
  - Jueves:
    - Almuerzo: Dos huevos, cocinados a su gusto (sin aceite). Queso blanco (con bajo contenido de grasa). Tomates en rodajas o chauchas, o zapallitos. 1 rebanada de pan proteico, tostado. Café/té.
    - Cena: Pollo a la parrilla, todo lo que desee (quitar la piel y la grasa antes de comer). Espinaca, pimientos verdes o chauchas en buena cantidad. Café/té.
  - Viernes:
    - Almuerzo: Rodajas de queso, surtidas. Espinaca, todo lo que desee. 1 rebanada de pan proteico, tostado, o de pan integral tostado. Café/té.
    - Cena: Pescado o mariscos magros. Ensalada mixta de vegetales frescos; cantidad que desee, incluyendo hortalizas cocidas y cortadas, si lo prefiere. 1 rebanada de pan proteico, tostado. Café/té.
  - Sábado: 
    - Almuerzo: Ensalada de fruta, la cantidad que desee. Café/té.
    - Cena: Pollo o pavo asado. Ensalada de lechuga y tomates. Pomelo o fruta de la estación. Café/té.
  - Domingo:
    - Almuerzo: Pollo o pavo frío o caliente. Tomates, zanahorias, repollo cocido, brócoli o coliflor. Pomelo o fruta de la estación. Café/té.
    - Cena: Bife a la parrilla (quitar toda la grasa visible antes de comerlo), cualquier corte que usted desee (lomo, cuadril, etc.). Ensalada de lechuga, pepinos, apio, tomates. Repollitos de Bruselas. Café/té.

---
<!-- GOOGLE FONTS -->
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Poppins::latin', 'Lobster::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();</script>
<div class="bg-cover gradient  hidden-print">
  <div class="py4">
    <div class="bg-white px2 py3 tc card box-shadow">
  <h1 class="lobster text-shadow">Dietas Scardale</h1>
    <p>
      La dieta hipocalórica Scardale te permite adelgazar comiendo y sin pasar hambre.
    </p>
    <p>
      TRATAMIENTO COMPLETO
      <small class="block h4">
        Todas las comidas del día: Desayuno, almuerzo, merienda y cena.
      </small>
    </p>
    <p class="caps h2 bg-accent py1 px1" id="publicidad">
      Entrega a domicilio sin cargo en Córdoba Capital.
      <span class="flex flex-row flex-justify-center">
        <span class="px1 py1">0351 666 8164</span>
        <span class="px2">
          <img src="https://www.cdn.whatsapp.net/img/v2/logo-whatsapp.png" alt="también en whatsapp" style="width:120px;height:34px">
        </span>
      </span>
      <span class="block tc small">
        <a href="https://www.facebook.com/dietascardalecordoba" class="icon btn my1  black">{% include svg/facebook.svg %} Consultá nuestras promociones en facebook</a>
      </span>
    </p>
  </div>
</div>
</div>
<div class="py4">

<div class="card">
  <h1 class="lobster" id="dieta-scardale">Dieta Médica Scardale</h1>
  <div role="navigation" class="hidden-print serif">
    <small class="btn px1 py1" onClick="document.querySelector('#url').select();
">Compartir: <input id="url" class="o-50" type="text" value="{{site.url}}/#dieta-scardale">

<a  title="Copiar Link" aria-label="copiar link" onClick="copyFrom('#url')"><svg width="16" height="14" style="fill:grey;">
  <title>Copiar</title><path d="M4 0 L 12 0 L 12 2 L 7 2 L 7 12 L 4 12"></path><path d="
  M8 3 L 16 3 L 16 14 L 8 14"></path>
</svg></a></small>
  </div>
  <div class="hidden-print small bg-accent px2 py2 my3">Las dos semanas del Programa para Mantenerse Delgado lo ayudarán a deshacerse de sus malos hábitos alimentarios y a estimular una vida más larga, saludable y vigorosa.</div>
  <small class="hidden-print">Todas las Dietas Médicas Scarsdale están planeadas para que adelgacen hombres y mujeres adultos en buen estado de salud; todas las personas, especialmente aquellas con problemas médicos y mujeres embarazadas, no deben seguir esta dieta ni ninguna otra sin la total aprobación de su médico personal.</small>
  <div class="bg-white px2 py3 card box-shadow my3" data-taxonomy="diario"  style="page-break-inside: avoid;">
    <h2 class="lobster tc">Desayuno diario</h2>
    <hr class="hidden-print" style="width:250px;margin:15px auto">
    <ul>
      <li>½ pomelo (si no hay, use frutas de estación).</li>
      <li>1 rebanada de pan proteico, tostado, sin untar.</li>
      <li>Café/té (sin azúcar, crema o leche).</li>
    </ul>
</div>

<article class="bg-white px2 py2 card my3 sans-serif" data-taxonomy="semana">
  {% for dia in page.dieta %}
    <div style="page-break-inside: avoid;">
      {% for nombre in dia %}
      <h4 class="lobster tc" style="font-size:1.4rem">{{nombre[0]}}</h4>
      <ul>
        {% for comida in nombre %}
          {% if comida[0].Almuerzo %}<li><b>Almuerzo:</b> {{comida[0].Almuerzo}}</li>{% endif %}
          {% if comida[1].Cena %}<li><b>Cena:</b> {{comida[1].Cena}}</li>{% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  {% endfor %}
</article>
<article class="bg-white px2 py2 box-shadow card my3" data-taxonomy="sustituto"  style="page-break-inside: avoid;">
    <h2 class="lobster tc">Almuerzo sustituto</h2>
    <hr class="hidden-print" style="width:250px;margin:15px auto">
    <p>Si lo desea, puede sustituir el siguiente almuerzo por cualquier otro almuerzo de la Dieta Médica Scarsdale.</p>
    <p>½ taza de queso ricota o queso blanco con bajo contenido de grasa, mezclado con una cucharada de crema ácida con bajo contenido de grasa.<br>Fruta, la cantidad que desee.<br>6 mitades de nuez, mezcladas con lo anterior o desparramadas sobre la fruta.<br>Café/té, gaseosa dietética de cualquier sabor.</p>
</article>
<small class="block">
  Más información en <a href="http://www.elgastronomo.com.ar/dieta-medica-scarsdale/#ixzz1fpV3eV4y">elgastronomo.com.ar</a>
</small>

</div>


</div>




<div class="py4  gradient-2">

<!-- <div class="card hidden-print">

  <h1 class="page-heading px2"><div class="px1">En Facebook</div></h1>

  

</div> -->

</div>

<style>#answer{position: fixed;
  top: .5rem;
  right: .5rem;
  padding: .5rem;
  /*background-color: black;
  color: white;*/
  line-height: 1;
  border-radius: .5rem;
  font-size: 14px;}
</style>
<script>
  function copyFrom(input){
    var answer = document.createElement('div');
    answer.id = "answer-container";
    answer.innerHTML = '<div id="answer" class="bg-accent">...</div>';
    document.body.appendChild(answer);
    document.querySelector(input).select();
     try {

         // The important part (copy selected text)
         var successful = document.execCommand('copy');

         if(successful) answer.innerHTML = '<div id="answer" class="success bg-accent">Copiado al portapapeles!</div>';
         else answer.innerHTML = '<div id="answer" class="error bg-accent">No se pudo copiar al portapapeles!</div>';
     } catch (err) {
         answer.innerHTML = '<div id="answer" class="error bg-accent">Error al copiar. Parece que tu navegador actual aún no soporta esta función.</div>';
     }
     window.setTimeout(function(){
      answer.classList.add('o-50');
      window.setTimeout(function(){
        answer.innerHTML = '';
      }, 500);
     }, 500);
  }
</script>