<footer class="site-footer hidden-print">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="bg-accent py1 px1">
          <p>Entrega a domicilio sin cargo en toda la ciudad de Córdoba Capital.</p>
          <ul class="social-media-list">
              <li><h4><span class="icon sans-serif">{% include svg/profile-woman.svg %}</span> Ana Cano</h4></li>
              <li>
                  <a href="mailto:{{ site.email }}"><span class="icon">{% include svg/mail.svg %}</span> <span class="username nowrap">{{ site.email }}</span></a>
              </li>
              <li><a href="tel:+5493516668164"><span class="icon">{% include svg/phone.svg %}</span> <span class="username nowrap"><span class='nowrap'>0351 15 666 8164</span></span></a></li>
          </ul>
        </div>
        <div class="py2"></div>
        <ul class="social-media-list">
          <li><h4><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="icon">{% include svg/RSS.svg %}</span></a> Publicaciones en este sitio</h4></li>
          <hr>
         {% for post in site.posts %}
          <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
          </li>
          {% endfor %}
          <hr>
        </ul>
        <small>
          Hosteado por <a href="http://pages.github.com/" target="_blank">GitHub Pages</a>.<br><a href="https://github.com/DietasScardale" target="_blank">github/DietasScardale</a>
        </small>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>
            <div class="bg-white" style="margin: 0 auto;max-width:100%;width:500px;height:600px">
              <!-- Facebook Widget -->
              <div class="fb-page" data-href="https://www.facebook.com/dietascardalecordoba" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/dietascardalecordoba"><a href="https://www.facebook.com/dietascardalecordoba">Dieta Scardale Córdoba</a></blockquote></div></div>
            </div>
              <!-- <a href="https://www.facebook.com/dietascardalecordoba"><span class="icon">{% include svg/facebook.svg %}</span> <span class="username nowrap">dietascardalecordoba</span></a> -->
          </li>
        </ul>
      </div>
    </div>

  </div>
<ul class="post-list">
    
  </ul>
</footer>
